{
  "env": {
    "production": {
      "presets": ["es2015-native-modules", "stage-0"],
      "plugins": ["transform-decorators-legacy", "transform-runtime"]
    },
    "development": {
      "presets": ["es2015-native-modules", "stage-0"],
      "plugins": ["transform-decorators-legacy"]
    }
  }
}
