{
  "env": {
    "production": {
      "presets": [
        [
          "env", {
              "debug": true,
              "modules": false,
              "useBuiltIns": true,
              "targets": {
                "browsers": "defaults"
              }
          }
        ],
        "stage-0"
      ],
      "plugins": ["transform-decorators-legacy"]
    },
    "commonjs": {
      "presets": [
        [
          "env", {
            "debug": true,
            "loose": true,
            "modules": "commonjs"
          }
        ],
        "stage-0"
      ],
      "plugins": ["transform-decorators-legacy"]
    },
    "es": {
      "presets": [
        [
          "env", {
            "debug": true,
            "modules": false,
          }
        ],
        "stage-0"
      ],
      "plugins": ["transform-decorators-legacy"]
    },
    "development": {
      "presets": [
        [
          "env", {
            "debug": false,
            "modules": false,
            "useBuiltIns": true,
            "targets": {
              "browsers": ["chrome >= 56"]
            }
          }
        ],
        "stage-0"
      ],
      "plugins": ["transform-decorators-legacy"]
    },
    "cli": {
      "presets": ["env", "stage-0"],
      "plugins": ["transform-decorators-legacy"]
    }
  }
}
